<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                             xmlns:context="http://www.springframework.org/schema/context"
                                             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                             http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
                                             default-lazy-init="true">
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xsi:schemaLocation="-->
<!--    http://www.springframework.org/schema/beans-->
<!--    https://www.springframework.org/schema/beans/spring-beans.xsd">-->
    <context:component-scan base-package="doctor"></context:component-scan>

<!-- // this is to use explicitly you can easily achieve the below through @Component tag which we;ll do now -->
<!--    <bean id ="doctor" class="doctor.Doctor">-->
<!--        <property name="qualification" value="MBBS"></property>-->
<!--        -->
<!--    </bean>-->
<!--    <bean id = "nurse" class="doctor.Nurse">-->
<!--        <property name="name" value="Habiba"></property>-->
<!--    </bean>-->

</beans>

<!-- Because we are getting back to back component scan error we will have to use old versions xsi and xmlns-->